* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #e4e8f0 100%);
    color: #333;
    min-height: 100vh;

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    overflow: hidden;
}